# Add logging component name from goxdcr.log
[FILTER]
    Name parser
    Match couchbase.log.xdcr
    Key_Name message
    Parser couchbase_xdcr_component
    # Do not overwrite original field
    Preserve_Key On
    # Keep everything else
    Reserve_Data On

# Add a component attribute if it doesn't exist
[FILTER]
    Name    modify
    Match   couchbase.log.xdcr
    Condition Key_Does_Not_Exist component
    Add component undefined
