# Add logging component name from analytics.log
[FILTER]
    Name parser
    Match couchbase.log.analytics
    Key_Name message
    Parser couchbase_analytics_component
    # Do not overwrite original field
    Preserve_Key On
    # Keep everything else
    Reserve_Data On

# Add a component attribute if it doesn't exist
[FILTER]
    Name    modify
    Match   couchbase.log.analytics
    Condition Key_Does_Not_Exist component
    Add component Unknown
