# Add filter for when level is not set
[FILTER]
    Name        modify
    Alias       handle_levels_not_set_modify
    Match       couchbase.stream
    Condition   Key_Does_Not_Exist                              level
    Set         level                                           UNKNOWN
    Set         level_numeric                                   0

# Add Filter to create TAG as couchbase.stream.<nameoffile>.<level>
[FILTER]
    Name          rewrite_tag
    Alias         add_level_to_tag_rewrite_tag
    Match         couchbase.stream
    Rule          $file ^(.+)\.log$ $TAG.$1.$level false
    Emitter_Name  add_level_to_tag
