# Send to loki: refer to configuration guide
# Do not make too many labels: https://grafana.com/blog/2020/08/27/the-concise-guide-to-labels-in-loki/
[OUTPUT]
    Name        loki
    Alias       loki_output
    # Disable matching by default, to enable it pass the value as a variable.
    # With CAO, this can be done via a user-defined annotation, e.g.: fluentbit.couchbase.com/loki.match="*"
    Match       ${LOKI_MATCH}
    # These should be set in the environment, defaulted in the container
    Host        ${LOKI_HOST}
    Port        ${LOKI_PORT}
    Labels      job=couchbase-fluentbit
    # These should be present in the log record - see the `filter-handle-*.conf` as well
    Label_keys  $file,$level,$couchbase['cluster_name'],$couchbase['server_version'],$couchbase['node'],$bucket
    Workers     ${LOKI_WORKERS}
    # Loki does not support out-of-order streams so no point retrying as soon as we hit a failure
    Retry_Limit no_retries

    {% if fluent_bit_loki_tenant_id | string | trim | length == 0 %}# {% endif %}tenant_id   ${LOKI_TENANT_ID}
    {% if fluent_bit_loki_http_user | string | trim | length == 0 %}# {% endif %}http_user   ${LOKI_HTTP_USER}
    {% if fluent_bit_loki_http_passwd | string | trim | length == 0 %}# {% endif %}http_passwd   ${LOKI_HTTP_PASSWD}
    tls         ${LOKI_TLS}
    tls.verify  ${LOKI_TLS_VERIFY}
