{{ ansible_managed | comment }}

[Unit]
Description=Fluent Bit Agent
Documentation=https://docs.fluentbit.io/manual/
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple

{% if fluent_bit_user != 'root' %}
User={{ fluent_bit_user }}
Group={{ fluent_bit_group }}
{% endif %}
WorkingDirectory={{ fluent_bit_conf_dir }}
EnvironmentFile=-{{ fluent_bit_conf_dir }}/{{ fluent_bit_env_file}}

ExecStart={{ _fluent_bit_binary_install_dir }}/fluent-bit -c {{ fluent_bit_conf_dir}}/{{ fluent_bit_conf_file}}

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true

SyslogIdentifier=fluent-bit
Restart=always
RestartSec=1
StartLimitInterval=0

{% if fluent_bit_systemd_version | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
